<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!--Header-->
    <div class="jumbotron text-center">
        <h1 class="display-3">Mission to Mars</h1>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </p>
    </div>

    <!--News-->
    <div class="container">
      <div class="row">
      <div class="news">
          <div class="col-12">
            <h1>Latest Mars News</h1>
            <h2>{{data.news_title}}</h2>
            <p>{{data.news_p}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--Image, weather and facts-->
    <div class="container">
      <div class="row">
        <!--Image-->
        <div class="col-lg-8">
        <h1 class="text-left">Featured Mars Image</h1>
        <img src="{{data.featured_image_url}}" class="img-fluid" alt="Featured image" style="width: 500px; height: auto;">
        </div>

        <!--Weather and facts-->
        <div class="col-lg-4">
          <!--Weather card-->
        
          <!--Table-->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src={{data.facts_str}}></iframe>
          </div>
          
        </div>
    </div>

    <!--Hemispheres-->
    <div class="container">
      <div class="row">
        <h1>Mars Hemispheres</h1>
        {% for image in data.hemisphere_image_urls%}
          <div class="col-lg-6">
            
            <h4>{{image.title}}</h4>
            <img src="{{image.img_url}}" class="img-fluid" alt="Featured image" style="width: 300px; height: auto; padding: 10px">
            
          </div>
        {% endfor %}
      </div>
    </div>
      
</body>

</html>
